
data_preprocessing/genome_scraping/assessions.txt.part00.txt
data_preprocessing/genome_scraping/assessions.txt.part01.txt
data_preprocessing/genome_scraping/assessions.txt.part02.txt
data_preprocessing/genome_scraping/assessions.txt.part03.txt
data_preprocessing/genome_scraping/assessions.txt.part04.txt
data_preprocessing/genome_scraping/assessions.txt.part05.txt
data_preprocessing/genome_scraping/assessions.txt.part06.txt
data_preprocessing/genome_scraping/assessions.txt.part07.txt
data_preprocessing/genome_scraping/assessions.txt.part08.txt
data_preprocessing/genome_scraping/assessions.txt.part09.txt
data_preprocessing/genome_scraping/assessions.txt.part10.txt
data_preprocessing/genome_scraping/assessions.txt.part11.txt
data_preprocessing/genome_scraping/assessions_part00.zip
data_preprocessing/genome_scraping/assessions_part01.zip
data_preprocessing/genome_scraping/assessions_part02.zip
data_preprocessing/genome_scraping/assessions_part03.zip
data_preprocessing/genome_scraping/assessions_part04.zip
data_preprocessing/genome_scraping/assessions_part05.zip
data_preprocessing/genome_scraping/assessions_part06.zip
data_preprocessing/genome_scraping/assessions_part07.zip
data_preprocessing/genome_scraping/assessions_part08.zip
data_preprocessing/genome_scraping/assessions_part09.zip
data_preprocessing/genome_scraping/assessions_part10.zip
data_preprocessing/genome_scraping/assessions_part11.zip
data_preprocessing/genome_scraping/ncbi_dataset/*
esm/emb_pregen/model/esm2_t33_650M_UR50D.pt
esm/emb_pregen/batched_embs/*
